Impact of Federal Monetary Policy on Investments

In [161]:
# Initial imports
import os
import requests
import numpy as np
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
import json

%matplotlib inline

In [162]:
# Set current amount of shares data
portfolio_data = {
    "shares": [200]
}

# Set the tickers
tickers = ["NDAQ"]

# Create the shares DataFrame with `tickers` as index
df_shares = pd.DataFrame(portfolio_data, index=tickers)

# Display shares data
df_shares

      shares
NDAQ     200

In [163]:
# Load .env environment variables
load_dotenv()

True

In [164]:
 # Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")
fred_api_key = os.getenv("FRED_API_KEY")

In [165]:
# Verify that Alpaca key and secret were correctly loaded
print(f"Alpaca Key type: {type(alpaca_api_key)}")
print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")
print(f"Fred Key type: {type(fred_api_key)}")

Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>
Fred Key type: <class 'str'>

In [166]:
# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [167]:
# Format current date as ISO format
today = pd.Timestamp("2022-08-09", tz="America/New_York").isoformat() 
start_date = pd.Timestamp("2000-08-09", tz="America/New_York").isoformat()

In [168]:
# Set timeframe to one day ('1Day') for the Alpaca API
timeframe = "1Month"

In [169]:
# Get current price data for S&P500
df_portfolio = alpaca.get_bars(
    tickers,
    timeframe,
    start = start_date,
    end = today
).df

# Reorganize the DataFrame
# Separate ticker data
NDAQ = df_portfolio[df_portfolio['symbol']=='NDAQ'].drop('symbol', axis=1)


# Display sample data
df_portfolio

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2015-12-01 05:00:00+00:00,58.89,60.1097,54.62,58.17,24924152,241969,57.258672,NDAQ
2016-01-01 05:00:00+00:00,56.90,62.3600,55.27,62.00,27792434,263456,57.589541,NDAQ
2016-02-01 05:00:00+00:00,61.96,65.1000,57.85,63.29,27774709,260062,61.602408,NDAQ
2016-03-01 05:00:00+00:00,63.82,67.6050,63.11,66.38,33361536,295673,65.046414,NDAQ
2016-04-01 04:00:00+00:00,66.12,66.6600,61.25,61.71,21687664,207101,64.105503,NDAQ
...,...,...,...,...,...,...,...,...
2022-04-01 04:00:00+00:00,179.82,184.6850,157.06,157.37,17194666,393411,172.632619,NDAQ
2022-05-01 04:00:00+00:00,157.25,160.4000,140.31,155.26,19978077,445028,149.727956,NDAQ
2022-06-01 04:00:00+00:00,155.44,160.0000,144.18,152.54,21416809,449449,152.290608,NDAQ
2022-07-01 04:00:00+00:00,152.72,181.3400,151.54,180.90,18134721,420227,164.826883,NDAQ
2022-08-01 04:00:00+00:00,179.28,183.9600,177.19,183.17,3854913,113133,180.738462,NDAQ

Read in  Market Yield on U.S. Treasury Securities at 2-Year Constant Maturity, Quoted on an Investment Basis

In [170]:
# Define the base request URL
request_url = "https://api.stlouisfed.org/fred/series/observations?series_id=DGS2&api_key="

# Concatenate request_url and api_key. Store as new variable
request_url = request_url + fred_api_key + "&file_type=json"

In [218]:
# Execute get request
import json
response_data = requests.get(request_url).json()
print(type(response_data))
fred_value = response_data['observations']
length = len(fred_value)

my_list= []
    for i in range(length):
        dates = fred_value[i]['date']
        values = fred_value[i]['value']

IndentationError: unexpected indent (2400317892.py, line 9)

In [211]:
print(fred_df)

         Date Value
0  2022-09-26   NaN
0         NaN  4.27